.App {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: rgb(73, 79, 82);
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card {
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 40px 20px;
}

.product-image {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
}

.product-name {
    text-transform: uppercase;
    margin: 10px 0px;
}

.product-price {
    margin: 10px 0px;
    padding-bottom: 20px;
    font-size: 18px;
}

.add-to-cart {
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(73, 79, 82);
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.add-to-cart:active {
    transform: translateY(-2px);
}

.footer {
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    font-size: 26px;
    gap: 5px;
}

i {
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-to-shop-button, .checkout-button {
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(73, 79, 82);
    color: white;
    width: 200px;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
}

.fa-shopping-cart {
    position: relative;
}

.amount-of-items {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    color: rgb(73, 79, 82);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: -8px;
}

.cart-items {
    margin: 30px auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.cart-items-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
}

.cart-items-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
}

.cart-items-image {
    width: 100px;
    height: auto;
    border: 1px solid black;
    margin-right: 10px;
}

.cart-item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
}

.cart-item-name,
.cart-item-function {
    width: 25%;
}

.cart-items-add,
.cart-items-remove {
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.checkout-button{
  border: none;
  border-radius: 3px;

}

.cart-items-total-price-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid black;
}

.cart-items-total-price {
    display: flex;
    padding-left: 45%;
}
